
/* Dashboard Module colour names */
.bronze-module {
    border: 10px solid #FFD8A8 !important
}
.silver-module {
    border: 10px solid #FCC2D7 !important
}
.gold-module {
    border: 10px solid #D0BFFF !important
}
.platinum-module {
    border: 10px solid #A5D8FF !important
}

.text-red {
    color: #FD0000 !important
}

.bg-gold {
    background-color: #C7A930 !important;
}

.text-primary-blue {
    color: #2271B6 !important;
}

.text-primary-dark {
    color: #202020 !important
}

.text-292D32 {
    color: #292D32 !important
}

.bg-primary-blue {
    background-color: #2271B6 !important;
}

.border-primary-blue {
    border: 1px solid #2271B6
}

.dropdown-no-arrow::after {
    display: none !important;
    /* hide bootstrap default arrow */
}

.px-12px {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-13 {
    font-size: 13px !important
}

.fs-14 {
    font-size: 14px !important
}

.fs-16 {
    font-size: 16px !important
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.align-child-self-start:last-child {
    align-self: flex-start;
}

.min-width-220 {
    min-width: 210px !important;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
}

.status-indicator-green {
    width: 10px;
    height: 10px;
    right: 5px;
    bottom: -3px;
    background: #2BC700;
    border: 1.5px solid white
}

.min-width-250 {
    min-width: 250px;
}

.w-20 {
    width: 20px !important
}

.w-22 {
    width: 22px
}

.gold_container {
    height: 180px
}
@media (max-width: 1200px) {
    .gold_container {
        height: auto
    }
}

.h-400 {
    height: 400px
}

.min-w-400 {
    min-width: 400px
}

.hr-profile-divide {
    margin: 0.5rem 0
}

.employee-grid-gap {
    gap: 4rem 1rem;
}

.payslip-grid-gap {
    gap: 5rem 5rem;
}

.payslip_table {
    border: 1px solid #EAECF0
}

.list-item-label {
    font-size: 14px;
    font-weight: 600;
    color: black
}

.square-450 {
    width: 450px;
    max-width: 450px
}

.notice-board {
    max-width: 400px;
    border: 2px solid red;
    background: #FFE5E5;
    margin-top: 35px;
    margin-bottom: 35px
}

/* Form controls */

input.no_focus:focus {
    outline: none !important;
}

.form-section label {
    position: absolute;
    left: 20px;
    top: -10px;
    background-color: white;
    padding: 0 10px;
    font-weight: 600;
}

.delon-input {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #C1C1C1;
}

.delon-primary-btn {
    padding: 10px 20px;
    border-radius: 10px;
}

.delon-primary-btn:disabled {
    opacity: 0.5
}

.input_control {
    accent-color: #2271B6 !important;
    padding: 10px 10px
}

.form-floating {
    position: relative;
    /* margin-top: 1.5rem; */
}

.form-input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    background: transparent;
}

.form-select_custom {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: transparent;
    appearance: none;
    background-color: white;
}

.form-input:focus {
    outline: 2px solid #2271B6;
}

.form-floating>label {
    position: absolute;
    height: 5px;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #989898;
    font-size: 14px;
    font-weight: 600;
    pointer-events: none;
    transition: 0.2s ease all;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 !important
}

.form-input:focus+label span,
.form-input:not(:placeholder-shown)+label span {
    color: #FD0000 !important
}

.form-input:focus+label,
.form-input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 14px;
    color: #333;
    transform: translateY(-50%) scale(1);
}

.form-select_custom:focus+label,
.form-select_custom:not([value=""])+label {
    top: 0;
    font-size: 14px;
    color: #333;
    transform: translateY(-50%) scale(1);
}

.form-select_custom:focus+label span,
.form-select_custom:not(:placeholder-shown)+label span {
    color: #FD0000 !important
}

.form-check-input:checked {
    background-color: #2271b6;
    border-color: #2271b6;
}

/* Form controls */

.dashboard_module_card {
    box-shadow: '4px 4px 10px 0px #00000040' !important
}

.dynamic_responsive_table {
    width: 950px;
}

@media (max-width: 1100px) {
    .dynamic_responsive_table {
        width: 100%
    }
}

/* Styling for Create Payslip (individual) Page */
/* Styling for Create Payslip (individual) Page */
.create_payslip_form {
    display: flex;
    width: 900px;
}

.create_payslip_form > div:first-child {
    flex-basis: 300px;
}

.create_payslip_form > div:nth-child(2) {
    flex-basis: auto;
}

@media (min-width: 769px) and (max-width: 1040px) {
    .create_payslip_form {
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .create_payslip_form {
        flex-direction: column;
        width: 100%;
    }

    .create_payslip_form > div:first-child {
        flex-basis: auto;
        margin-bottom: 30px;
    }

    .create_payslip_form > div:nth-child(2) {
        border: 0 !important;
    }
}

.tab_indicator {
    position: relative;
}

.tab_indicator > div {
    width: 20px;
    height: 20px;
    background: #d9d9d9;
    border-radius: 100%;
    position: relative;
    padding: 3px;
}

.tab_indicator:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -24.5px;
    left: 10px;
    height: 25px;
    width: 1px;
    background: #d9d9d9;
}

.tab_indicator.active > div {
    background: #2271b6 !important;
}

.tab_indicator .center_spot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: transparent;
}

.tab_indicator.active .center_spot {
    background-color: white;
}

.tab_link {
    color: #989898;
    transition: color 0.5s;
    cursor: pointer;
}

.tab_link:hover {
    color: #202020;
}

.tab_link .tab_text.active {
    color: black !important;
}

.demarcator_line {
    background: #2271b6;
    height: 1px;
    width: 100%;
}

/* For tooltip styling */
.tooltip-inner {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ccc;
    padding: 8px;
    max-width: 200px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before,
.tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip.bs-tooltip-start .tooltip-arrow::before,
.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
    border-left-color: #fff !important;
    border-right-color: #fff !important;
}
/* For tooltip styling */

/* Styling for Create Payslip (individual) Page */
/* Styling for Create Payslip (individual) Page */

/* Borders */
@media (min-width: 992px) {
    .border-lg-0 {
        border: 0 !important;
    }
}

/* Borders */

/* Fonts */

/* ------- Avenir ------- */
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir_lt_std/Avenir_LT_Std_35_Light.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir_lt_std/Avenir_LT_Std_45_Book.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir_lt_std/Avenir_LT_Std_85_Heavy.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ------- Avenir ------- */

/* ------- Ubuntu ------- */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ------- Ubuntu ------- */

body {
    --primary-dark-text: #202020;
    font-family: "Avenir", sans-serif !important;
    color: var(--primary-dark-text)
}

.row_adjustment {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}

.font-ubuntu {
    font-family: 'Ubuntu';
    font-weight: 400;
}

.font-ubuntu-bold {
    font-family: 'Ubuntu';
    font-weight: 700;
}

.font-avenir-bold {
    font-family: 'Avenir';
    font-weight: 700;
}

/* Fonts */

/* --------------- Screen ------------------ */

@media (min-width: 1440px) {
    .screenFrame {
        --screenContentWidth: 1690px;
        padding-left: calc((100vw - var(--screenContentWidth)) / 2);
        padding-right: calc((100vw - var(--screenContentWidth)) / 2);
    }
}

/* --------------- Screen ------------------ */