---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HRPayHub :: Appraisal Setup">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex gap-5">
          <a
            href="/appraisal-management"
            title="Back to Dashboard"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <div class="d-flex align-items-center gap-2">
            <a
              href="index.html"
              class="fs-14 text-decoration-none text-primary-dark">Dashboard</a
            >
            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <a
              href="/appraisal-management"
              class="fs-14 text-decoration-none text-primary-dark"
              >Appraisal Management</a
            >

            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <span class="fs-16 fw-bold text-primary-blue">Appraisal Setup</span>
          </div>
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 vstack gap-5 px-5">
          {/* Page Content Box */}
          <div class="p-lg-5">
            <div class="vstack" style="gap: 2.3rem">
              <!---- Appraisal Setup --->
              <div class="d-flex align-items-center gap-4 add_employee_width">
                <div class="fs-14 fw-600 text-primary-blue">
                  Appraisal Setup
                </div>
                <div class="flex-grow-1">
                  <div class="demarcator_line">&nbsp;</div>
                </div>
              </div>

              <!---- body ---->
              <div class="form-floating add_employee_width">
                <input
                  type="text"
                  id="employee_id"
                  name="employee_id"
                  class="form-input fs-14"
                  placeholder=""
                />
                <label for="employee_id">Employee ID &nbsp;<span>*</span></label
                >
              </div>
              <div class="form-floating add_employee_width">
                <input
                  type="text"
                  id="emp_name"
                  name="emp_name"
                  class="form-input fs-14"
                  placeholder=""
                  value="Lorem Ipsum"
                  disabled
                />
                <label for="emp_name">Employee Name </label>
              </div>
              <div class="form-floating add_employee_width">
                <input
                  type="text"
                  id="assigned_dpt"
                  name="assigned_dpt"
                  class="form-input fs-14"
                  placeholder=""
                  value="Lorem Ipsum"
                  disabled
                />
                <label for="assigned_dpt">All Assigned Department(s) </label>
              </div>
              <div class="form-floating add_employee_width">
                <input
                  type="text"
                  id="assigned_dpt_func"
                  name="assigned_dpt_func"
                  class="form-input fs-14"
                  placeholder=""
                  value="Lorem Ipsum"
                  disabled
                />
                <label for="assigned_dpt_func"
                  >All Assigned Department Function(s)
                </label>
              </div>
              <div class="form-floating add_employee_width">
                <select id="peer" name="peer" class="form-select_custom fs-14">
                  <option value="" selected style="color: rgb(200, 200, 200)"
                    >Select</option
                  >
                  <option value="peer1">Peer 1</option>
                  <option value="peer2">Peer 2</option>
                  <option value="peer3">Peer 3</option>
                </select>
                <label for="peer">Peer</label>
              </div>
              <div class="form-floating add_employee_width">
                <select
                  id="surbordinate"
                  name="surbordinate"
                  class="form-select_custom fs-14"
                >
                  <option value="" selected style="color: rgb(200, 200, 200)"
                    >Select</option
                  >
                  <option value="surbordinate1">Surbordinate 1</option>
                  <option value="surbordinate2">Surbordinate 2</option>
                  <option value="surbordinate3">Surbordinate 3</option>
                </select>
                <label for="surbordinate">Surbordinate</label>
              </div>
              <div class="form-floating add_employee_width">
                <select
                  id="manager"
                  name="manager"
                  class="form-select_custom fs-14"
                >
                  <option value="" selected style="color: rgb(200, 200, 200)"
                    >Select</option
                  >
                  <option value="manager1">Manager 1</option>
                  <option value="manager2">Manager 2</option>
                  <option value="manager3">Manager 3</option>
                </select>
                <label for="maanger">Manager</label>
              </div>

              <div class="form-floating add_employee_width">
                <input
                  type="date"
                  id="deadline"
                  name="deadline"
                  class="form-input fs-14"
                  placeholder=""
                />
                <label for="deadline">Deadline for Submission </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="notification"
                  name="notification"
                  value="notification"
                />
                <label class="form-check-label fs-14 font-avenir fw-600"
                  >Send notification to all involved parties</label
                >
              </div>

              <!---- submit ---->
              <div class="d-flex justify-content-end add_employee_width">
                <button
                  type="button"
                  id="upload"
                  class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 expense_button"
                >
                  <span>Submit</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {/* Page Content Box */}
      </div>
    </section>
  </main>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      $("#fileInputBtn").click((evt) => {
        $("#fileInput").click();
      });
    });
  </script>
</Layout>
<!-- Main content ends here -->
