---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HRPayHub :: Change Password">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex gap-5">
          <a
            href="/index.html"
            title="Back to Dashboard"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <div class="d-flex align-items-center gap-2">
            <a
              href="index.html"
              class="fs-14 text-decoration-none text-primary-dark">Dashboard</a
            >
            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <span class="fs-16 fw-bold text-primary-blue">Change Password</span>
          </div>
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 pt-2 vstack gap-5 px-5">
          {/* Page Content Box */}
          <div class="p-lg-5">
            <div class="vstack" style="gap: 2.3rem">
              <div class="d-flex gap-4 border-bottom mb-4">
                <a
                  href="/profile"
                  class="text-decoration-none text-dark p-2 px-3 fs-14 fw-600"
                  >Profile</a
                >
                <a
                  href="#"
                  class="text-decoration-none text-primary-blue p-2 fs-14 fw-600"
                  style="border-bottom: 1px solid;">Edit Password</a
                >
              </div>
              <!---- body ---->
              <div class="form-floating add_employee_width">
                <input
                  type="password"
                  id="old_pwd"
                  name="old_pwd"
                  class="form-input fs-14"
                  placeholder=""
                  value="Lorem Ipsum"
                />
                <label for="old_pwd">Old Password</label>
              </div>

              <div class="add_employee_width">
                <div class="form-floating add_employee_width">
                  <input
                    type="password"
                    id="new_pwd"
                    name="new_pwd"
                    class="form-input fs-14"
                    placeholder=""
                    value="Lorem Ipsum"
                    disabled
                  />
                  <label for="new_pwd">New Password </label>
                </div>
                <div>
                  <div class="font-avenir text-dark mt-3 fs-12">
                    Must be at least 8 characters and include a number or
                    special character.
                  </div>
                </div>
              </div>
              <div class="form-floating add_employee_width">
                <input
                  type="password"
                  id="confirm_pwd"
                  name="confirm_pwd"
                  class="form-input fs-14"
                  placeholder=""
                />
                <label for="confirm_pwd">Confirm Password </label>
              </div>

              <!---- submit ---->
              <div class="d-flex justify-content-start add_employee_width">
                <button
                  type="submit"
                  id="submit"
                  class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14"
                >
                  <span>Change Password</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {/* Page Content Box */}
      </div>
    </section>
  </main>
</Layout>
<!-- Main content ends here -->
