---
import Layout from "../layouts/Layout.astro";
import FormContextIndicator from "../components/ui/TaxFormContextIndicator";
import { FormFieldComponent } from "../components/ui/TaxFormFieldControl";
---

<Layout title="HRPayHub :: Clock-In/Clock-Out">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex gap-5">
          <a
            href="/time-management"
            title="Back to Dashboard"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <div class="d-flex align-items-center gap-2">
            <a
              href="index.html"
              class="fs-14 text-decoration-none text-primary-dark">Dashboard</a
            >
            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <a
              href="/time-management"
              class="fs-14 text-decoration-none text-primary-dark"
              >Time Management</a
            >
            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <span class="fs-16 fw-bold text-primary-blue"
              >Clock-In/Clock-Out</span
            >
          </div>
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 vstack gap-5 px-5">
          {/* Page Content Box */}
          <div class="p-lg-5">
            <div class="vstack" style="gap: 2.3rem">
              {/* Page Title */}
              <div class="vstack gap-3">
                <div class="d-flex gap-3 align-items-center">
                  <span class="text-dark font-avenir-bold fs-18 inline-block"
                    >Good day, Toluwalase Obasun</span
                  >
                </div>
              </div>
              {/* Page Title */}

              <!---------- page body ----->

              <div
                class="d-flex flex-column flex-lg-row gap-2 p-3 px-4 clock_in_out"
              >
                <div class="d-flex flex-column pe-4">
                  <span class="fs-12 text-secondary">Date</span>
                  <span class="fs-14 fw-700">22nd, May 2025</span>
                </div>
                <span class="clock_border_left"></span>
                <div class="d-flex flex-column px-lg-3">
                  <span class="fs-12 text-secondary">Time</span>
                  <span class="fs-14 fw-700">02:35 PM</span>
                </div>
                <span class="clock_border_left"></span>
                <div class="d-flex flex-column px-lg-3">
                  <span class="fs-12 text-secondary">Employee ID</span>
                  <span class="fs-14 fw-700">N1424362</span>
                </div>
                <span class="clock_border_left"></span>
                <div class="d-flex flex-column px-lg-3">
                  <span class="fs-12 text-secondary">Branch</span>
                  <span class="fs-14 fw-700">Ikeja</span>
                </div>
                <span class="clock_border_left"></span>
                <div class="d-flex flex-column px-lg-3">
                  <span class="fs-12 text-secondary"
                    >Contracted Monthly Hour</span
                  >
                  <span class="fs-14 fw-700">180Hrs</span>
                </div>
              </div>

              <!----- Time section ----->
              <div
                class="d-flex flex-column flex-lg-row gap-3 gap-lg-5 py-4 px-4 clock_in_out_bg"
              >
                <div
                  class="d-flex flex-column px-3 clock_in_out_width clock_in_time gap-3 bg-white clock_in_out_border p-3 pe-4"
                >
                  <span class="fs-16 fw-700 text-center">Clock-In Time</span>
                  <div
                    class="d-flex gap-3 justify-content-between align-items-center"
                  >
                    <span
                      class="fs-16 fw-700 text-white rounded bg-primary-blue border border-light p-2"
                      >09:30 AM</span
                    >

                    <span
                      class="fs-16 fw-700 text-white rounded clock_in_bg border border-light p-2"
                      >Clock-In</span
                    >
                  </div>
                </div>

                <span class="clock_border_left"></span>
                <div
                  class="d-flex flex-column px-3 clock_in_out_width clock_in_out_border clock_out_time gap-3 bg-white clock_in_out_border p-3 pe-4"
                >
                  <span class="fs-16 fw-700 text-center">Clock-Out Time</span>
                  <div
                    class="d-flex gap-3 align-items-center justify-content-between"
                  >
                    <span
                      class="fs-16 fw-700 text-white rounded bg-primary-blue border border-light p-2"
                      >_ _ : _ _</span
                    >

                    <span
                      class="fs-16 fw-700 text-white rounded bg-primary-blue border border-light p-2"
                      >Clock-Out</span
                    >
                  </div>
                </div>
                <span class="clock_border_left"></span>

                <div
                  class="d-flex flex-column gap-3 bg-primary-blue clock_in_out_width clock_in_out_border p-3 text-white pe-4"
                >
                  <span class="fs-14 text-center"
                    >Total Hours Worked for the Day</span
                  >
                  <div
                    class="d-flex gap-3 justify-content-center align-items-center"
                  >
                    <span
                      class="fs-16 fw-700 rounded border border-light p-2 px-3"
                      >5hr 37m 20s</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {/* Page Content Box */}
      </div>
    </section>
  </main>
</Layout>
<!-- Main content ends here -->
