---
import BreadCrumbs from "../components/ui/BreadCrumbs";

import Layout from "../layouts/Layout.astro";
import PayslipGeneratePreview from "../components/payslips/PayslipGeneratePreview";
import FormContextIndicator from "../components/ui/TaxFormContextIndicator";
import { FormFieldComponent } from "../components/ui/OfferFormFieldControl";
---

<style></style>

<Layout title="HRPayHub :: Create Offer Breakdown">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex flex-md-row flex-column gap-md-5 gap-1 w-full">
          <a
            href="/send-and-sign-offer-ng"
            title="Back to Payslip"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <BreadCrumbs
            data={[
              { name: "Dashboard", url: "index.html" },
              {
                name: "Offer Breakdown – NG",
                url: "/offer-breakdown-ng",
              },
              { name: "Create Offer Breakdown" },
            ]}
          />
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4" id="create_payslip">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 pt-5 vstack gap-5 px-5">
          {/* Page Content Box */}
          <form
            method="POST"
            id="creat_payslip_form"
            class="create_payslip_form"
          >
            <div class="pe-lg-5 pe-0">
              <!-- Tab Panel -->
              <ul
                class="nav gap-4 flex-column sticky-lg-top bg-white text-nowrap"
                style="top: 110px"
                id="myTab"
                role="tablist"
              >
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator active"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text active"
                    id="employee_company_details"
                    data-bs-toggle="tab"
                    data-bs-target="#employee_company_details_panel"
                    role="tab"
                    aria-controls="employee_company_details_panel"
                    aria-selected="true">Employee Details</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="salary_pay"
                    data-bs-toggle="tab"
                    data-bs-target="#salary_pay_panel"
                    role="tab"
                    aria-controls="salary_pay_panel"
                    aria-selected="false">Salary Breakdown</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="deductions"
                    data-bs-toggle="tab"
                    data-bs-target="#deductions_panel"
                    role="tab"
                    aria-controls="deductions_panel"
                    aria-selected="false">Deductions</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="final_monthly"
                    data-bs-toggle="tab"
                    data-bs-target="#final_monthly_panel"
                    role="tab"
                    aria-controls="final_monthly_panel"
                    aria-selected="false">Calculate Annual Tax</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="year_to_date"
                    data-bs-toggle="tab"
                    data-bs-target="#year_to_date_panel"
                    role="tab"
                    aria-controls="year_to_date_panel"
                    aria-selected="false">Calculate Monthly Tax</span
                  >
                </li>
              </ul>
              <!-- Tab Panel -->
            </div>
            <!-- Tab content here -->
            <div class="flex-grow-1 border-start ps-md-5 ps-0 tab-content">
              <!-- Employee Details -->
              <div
                class="tab-pane fade active show"
                id="employee_company_details_panel"
                role="tabpanel"
                aria-labelledby="employee_company_details_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <!---- Employee Details --->
                  <div
                    class="d-flex align-items-center gap-4 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Employee Details
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>

                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="employee_id"
                      name="employee_id"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="employee_id"
                      >Employee ID &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="date"
                      id="offer_date"
                      name="offer_date"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="offer_date"
                      >Offer Letter Date &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="first_name"
                      name="first_name"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="first_name"
                      >First Name &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="last_name"
                      name="last_name"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="last_name">Last Name &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="pay_grade"
                      name="pay_grade"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="pay_grade">Pay Grade &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="designation"
                      name="designation"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="designation"
                      >Designation &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="emp_type"
                      name="emp_type"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="emp_type"
                      >Employment Type &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="working_hrs"
                      name="working_hrs"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="working_hrs"
                      >Working Hours Per Week &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="date"
                      id="res_date"
                      name="res_date"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="res_date"
                      >Resumption Date &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <select
                      id="work_days"
                      name="work_days"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="1">Monday</option>
                      <option value="2">Tuesday</option>
                      <option value="3">Wednesday</option>
                      <option value="4">Thursday</option>
                      <option value="5">Friday</option>
                      <option value="6">Saturday</option>
                      <option value="7">Sunday</option>
                    </select>
                    <label for="work_days">Work Days</label>
                  </div>

                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="annual_leave"
                      name="annual_leave"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="annual_leave"
                      >Annual Leave &nbsp;<span>*</span></label
                    >
                  </div>

                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="manager_name"
                      name="manager_name"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="manager_name"
                      >Manager Name &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="annual_fs"
                      name="annual_fs"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="annual_fs"
                      >Annual Fixed Salary &nbsp;<span>*</span></label
                    >
                  </div>

                  <div class="d-flex justify-content-end upload_offer">
                    <button
                      type="button"
                      id="salary_pay_next"
                      data-tab-target="#salary_pay"
                      role="tab"
                      aria-controls="salary_pay_panel"
                      aria-selected="false"
                      class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                    >
                      <span>Next</span>
                    </button>
                  </div>
                </div>
              </div><!-- Employee Details -->

              <!-- Salary Breakdown -->
              <div
                class="tab-pane fade"
                id="salary_pay_panel"
                role="tabpanel"
                aria-labelledby="salary_pay_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <!---- Salary Breakdown Line --->
                  <div
                    class="d-flex align-items-center gap-4 offer_breakdown_w"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Input Fields
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>

                  <!---- Calculation 1 --->
                  <div class="vstack" style="gap: 2.3rem;">
                    {
                      [
                        {
                          label: "Annual Fixed Salary",
                        },
                        {
                          label:
                            "Basic Salary Percentage of Annual Fixed Salary",
                        },
                        {
                          label:
                            "Housing Allowance Percentage of Annual Fixed Salary",
                        },
                        {
                          label:
                            "Transport Allowance Percentage of Annual Fixed Salary",
                        },
                        {
                          label:
                            "Leave Allowance Percentage of Annual Fixed Salary",
                        },
                        {
                          label:
                            "Meal and Entertainment Allowance Percentage of Annual Fixed Salary",
                        },
                        {
                          label:
                            "Energy and Utility Allowance Percentage of Annual Fixed Salary",
                        },
                      ].map((ele, idx) => (
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-3 m-0 p-0">
                          <FormFieldComponent
                            class="offer_breakdown_w"
                            index={idx}
                            {...ele}
                          />
                          <FormContextIndicator index={idx} {...ele} />
                          <div
                            class="col"
                            data-bs-html="true"
                            data-bs-placement="right"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="tooltip-left-align"
                            title="<div><div><div><strong>Turn On/Off</strong></div><em style = 'font-size: 7px;'>Enable if applicable; Disable if not</em></div>
                        <div><div><strong>Edit</strong></div><em style = 'font-size: 7px'>Update if the value has changed</em></div>
                        <div><div><strong>Restore</strong></div><em style = 'font-size: 7px'>Reset to disable calculation</em></div></div>"
                            style={{ cursor: "pointer" }}
                          >
                            <img src="images/png/icons/info.svg" alt="info" />
                          </div>
                        </div>
                      ))
                    }
                  </div>

                  <div class="d-flex justify-content-end offer_breakdown_w">
                    <button
                      type="button"
                      class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14"
                    >
                      <span>Calculate</span>
                    </button>
                  </div>

                  <!---- Calculated  --->
                  <div
                    class="d-flex align-items-center gap-4 mb-5 offer_breakdown_w"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Calculated Fields
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>
                </div>
                <div class="vstack" style="gap: 2.3rem">
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="abs"
                      name="abs"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="abs"
                      >Basic Salary (H) &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="aha"
                      name="aha"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="aha"
                      >Housing Allowance (I) &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="ata"
                      name="ata"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ata">Transport Allowance (J) </label>
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="ala"
                      name="ala"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ala">Leave Allowance (J) </label>
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="amae"
                      name="amae"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="amae"
                      >Meals and Entertainment Allowance (L)
                    </label>
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="aeaua"
                      name="aeaua"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="aeaua">Energy and Utility Allowance (M)</label>
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <select
                      id="vae"
                      name="vae"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="category">Category 1</option>
                      <option value="category">Category 2</option>
                      <option value="category">Category 3</option>
                    </select>
                    <label for="vae"
                      >Variable Admin Expense &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <select
                      id="voe"
                      name="voe"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="category">Category 1</option>
                      <option value="category">Category 2</option>
                      <option value="category">Category 3</option>
                    </select>
                    <label for="voe"
                      >Variable Optional Expense &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="afs"
                      name="afs"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="afs">Annual Fixed Salary </label>
                  </div>
                  <div class="form-floating offer_breakdown_w">
                    <input
                      type="text"
                      id="ags"
                      name="ags"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ags">Annual Gross Salary </label>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-end gap-4 mt-5 offer_breakdown_w"
                >
                  <button
                    type="button"
                    id="employee_company_details_next"
                    data-tab-target="#employee_company_details"
                    role="tab"
                    aria-controls="employee_company_details_panel"
                    aria-selected="false"
                    class="white_button next_tab_btn"
                  >
                    <span>Back</span>
                  </button>

                  <button
                    type="button"
                    id="deductions_next"
                    data-tab-target="#deductions"
                    role="tab"
                    aria-controls="deductions_panel"
                    aria-selected="false"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Next</span>
                  </button>
                </div>
              </div><!-- Salary Breakdown tabs -->

              <!-- Deductions Panel -->
              <div
                class="tab-pane fade"
                id="deductions_panel"
                role="tabpanel"
                aria-labelledby="deductions_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <!---- Health Insurance Line --->
                  <div
                    class="d-flex align-items-center gap-4 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Health Insurance
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>

                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="health_ins"
                      name="health_ins"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="health_ins"
                      >Health Insurance (H) &nbsp;<span>*</span></label
                    >
                  </div>

                  <!---- Calculation 1 --->

                  <div
                    class="d-flex align-items-center gap-4 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Deductions and Calculation Variables
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>

                  <div class="vstack" style="gap: 2.3rem;">
                    {
                      [
                        {
                          label: "Life Insurance Multiplier (LIM)",
                        },
                        {
                          label:
                            "Temporary Disability Insurance Multiplier (TDIM)",
                        },
                        {
                          label:
                            "Permanent Disability Insurance Multiplier (PDIM)",
                        },
                        {
                          label: "Pension Staff Contribution Multiplier (PSCM)",
                        },
                        {
                          label:
                            "Pension Employer Contribution Multiplier (PECM)",
                        },
                        {
                          label: "NSITF Multiplier (NM)",
                        },
                        {
                          label: "NHF Multiplier (NHM)",
                        },
                      ].map((ele, idx) => (
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-3 m-0 p-0">
                          <FormFieldComponent
                            class="add_employee_width"
                            index={idx}
                            {...ele}
                          />
                          <FormContextIndicator index={idx} {...ele} />
                          <div
                            class="col"
                            data-bs-html="true"
                            data-bs-placement="right"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="tooltip-left-align"
                            title="<div><div><div><strong>Turn On/Off</strong></div><em style = 'font-size: 7px;'>Enable if applicable; Disable if not</em></div>
                        <div><div><strong>Edit</strong></div><em style = 'font-size: 7px'>Update if the value has changed</em></div>
                        <div><div><strong>Restore</strong></div><em style = 'font-size: 7px'>Reset to disable calculation</em></div></div>"
                            style={{ cursor: "pointer" }}
                          >
                            <img src="images/png/icons/info.svg" alt="info" />
                          </div>
                        </div>
                      ))
                    }
                  </div>

                  <!---- Annual deductions  --->
                  <div
                    class="d-flex align-items-center gap-4 mb-5 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Annual Deductions (AD)
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>
                </div>
                <div class="vstack" style="gap: 2.3rem">
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="soad"
                      name="soad"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="soad">Sum of all deductions</label>
                  </div>

                  <!---- Salary Calculation  --->
                  <div
                    class="d-flex align-items-center gap-4 mb-5 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Annual Deductions (AD)
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>
                </div>
                <div class="vstack" style="gap: 2.3rem">
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="ags"
                      name="ags"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ags">Annual Gross Salary (AGS)</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="afs"
                      name="afs"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="afs">Annual Fixed Salary (A)</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="ans"
                      name="ans"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ans">Annual Net Salary (ANS) </label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mfs"
                      name="mfs"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mfs">Monthly Fixed Salary (MFS)</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mns"
                      name="mns"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mns">Monthly Net Salary (MNS) </label>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-end gap-4 mt-5 add_employee_width"
                >
                  <button
                    type="button"
                    id="salary_pay_back"
                    data-tab-target="#salary_pay"
                    role="tab"
                    aria-controls="salary_pay_panel"
                    aria-selected="false"
                    class="white_button next_tab_btn"
                  >
                    <span>Back</span>
                  </button>

                  <button
                    type="button"
                    id="final_monthly_next"
                    data-tab-target="#final_monthly"
                    role="tab"
                    aria-controls="final_monthly_panel"
                    aria-selected="false"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Next</span>
                  </button>
                </div>
              </div><!-- Deductions Panel -->

              <!-- Calculate Annual Tax Panel -->
              <div
                class="tab-pane fade"
                id="final_monthly_panel"
                role="tabpanel"
                aria-labelledby="final_monthly_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <!---- Calculate Annual Tax  --->
                  <div
                    class="d-flex align-items-center gap-4 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Calculate Annual Tax
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="ans"
                      name="ans"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ans">Annual Net Salary</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="ati"
                      name="ati"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ati">Annual Taxable Income</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="ansat"
                      name="ansat"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="ansat">Annual Net Salary After Tax </label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mns"
                      name="mns"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mns">Monthly Net Salary</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mt"
                      name="mt"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mt">Monthly Tax</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mnsat"
                      name="mnsat"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mnsat">Monthly Net Salary after Tax</label>
                  </div>
                </div>

                <div
                  class="d-flex justify-content-end gap-4 mt-5 add_employee_width"
                >
                  <button
                    type="button"
                    id="deductions_back"
                    data-tab-target="#deductions"
                    role="tab"
                    aria-controls="deductions_panel"
                    aria-selected="false"
                    class="white_button next_tab_btn"
                  >
                    <span>Back</span>
                  </button>

                  <button
                    type="button"
                    id="year_to_date_next"
                    data-tab-target="#year_to_date"
                    role="tab"
                    aria-controls="year_to_date_panel"
                    aria-selected="false"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Next</span>
                  </button>
                </div>
              </div><!-- End of Annual Calculated Tax Panel -->

              <!-- Calculated Monthly Tax -->
              <div
                class="tab-pane fade"
                id="year_to_date_panel"
                role="tabpanel"
                aria-labelledby="year_to_date_panel"
                tabindex="0"
              >
                <!----- body --->
                <div class="vstack" style="gap: 2.3rem">
                  <!---- Calculate Monthly Tax  --->
                  <div
                    class="d-flex align-items-center gap-4 add_employee_width"
                  >
                    <div class="fs-14 fw-600 text-primary-blue">
                      Calculate Monthly Tax
                    </div>
                    <div class="flex-grow-1">
                      <div class="demarcator_line">&nbsp;</div>
                    </div>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mns"
                      name="mns"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mns">Monthly Net Salary</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mti"
                      name="mti"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mti">Monthly Taxable Income</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mt"
                      name="mt"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mt">Monthly Tax</label>
                  </div>
                  <div class="form-floating add_employee_width">
                    <input
                      type="text"
                      id="mnsat"
                      name="mnsat"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="mnsat">Monthly Net Salary After Tax</label>
                  </div>
                </div>

                <div
                  class="d-flex gap-3 justify-content-end mt-5 add_employee_width"
                >
                  <button
                    type="button"
                    id="year_to_date_back"
                    data-tab-target="#final_monthly"
                    role="tab"
                    aria-controls="final_monthly_panel"
                    aria-selected="false"
                    class="fw-bold fs-14 next_tab_btn"
                    style="background: white; color: #2271B6 !important; border: 1.5px solid #2271B6 !important; padding: 10px 20px; border-radius: 10px"
                  >
                    <span>Back</span>
                  </button>
                  <button
                    type="button"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Create Offer Breakdown</span>
                  </button>
                </div>
              </div><!-- Calculated Monthly Tax -->
            </div>
            <!-- Tab content here -->
          </form>
          {/* Page Content Box */}
        </div>
      </div>
    </section>
    <PayslipGeneratePreview />
  </main>
  <!-- Main content ends here -->

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      $(".tab_indicator").click((evt) => {
        const clickedTab = evt.currentTarget;
        $(".tab_indicator").removeClass("active");
        $(".tab_indicator").prop("aria-selected", "false");
        $(clickedTab).addClass("active");
        $(clickedTab).prop("aria-selected", "true");
      });

      $("#creat_payslip_form").submit((evt) => {
        evt.preventDefault();

        alert("Create payslip!!!");
      });

      $(".next_tab_btn").click((evt) => {
        const clickedBtn = evt.currentTarget;
        const targetTab = $(clickedBtn).attr("data-tab-target");

        $(targetTab).click();
      });

      $(".switchForDeductionsFields").click(function (evt) {
        const selectState = $(evt.target).prop("checked");
        console.log(
          $(
            $($($($(evt.target).parent()).parent()[0]).siblings()[0]).children(
              "input",
            )[0],
          ).prop("disabled", !selectState),
        );
      });

      $("#fileInputBtn").click((evt) => {
        $("#fileInput").click();
      });

      document
        .getElementById("fileInput")
        .addEventListener("change", function () {
          if (fileInput.files.length > 0) {
            const fileName = fileInput.files[0].name;
            $("#fileInputDetails span:first-child").text(fileName);
            $("#fileInputDetails").removeClass("d-none");
            $("#fileInputBtn").addClass("d-none");
            console.log("Selected file name:", fileName);
          }
        });
      $("#fileInputDetails span:nth-child(2)").click(() => {
        $("#fileInput").val("");
        $("#fileInputDetails span:first-child").text("");
        $("#fileInputDetails").addClass("d-none");
        $("#fileInputBtn").removeClass("d-none");
      });

      $("#viewPayslpBtn").click((evt) => {
        $("#view_employee_payslip").removeClass("d-none");
        $("#create_payslip").addClass("d-none");
      });

      $("#employment_type").on("change", function () {
        const selectedValue = $(this).val();
        if (selectedValue) {
          $("#view_employee_details").removeClass("d-none");
        }
      });
    });
  </script>
</Layout>
