---
import SuccessModal from "../components/ui/SuccessModal.astro";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.png" />
    <meta name="generator" content="generator" />
    <title>HRPayHub :: Forgot Password</title>
    <link
      href="libs/bootstrap-5.3.5-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <!-- Select2 CSS -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
    />
  </head>

  <body>
    <main>
      <section>
        <div class="d-flex">
          <SuccessModal modalId="successModal" title="Forgot" />
          <!------- sign in picture ------>
          <div
            class="d-none d-lg-flex flex-column sign_in_img_bg align-items-center justify-content-center gap-3 py-5"
          >
            <h1 class="text-primary-blue font-ubuntu-bold fs-40 fw-900">
              Simplify your HR and payroll management
            </h1>

            <img
              class="w-100"
              src="images/png/signin_img.png"
              alt="sign in image"
            />
          </div>

          <!------- sign in form ------>
          <div
            class="d-flex flex-column py-5 px-3 align-items-center gap-5 sign_area"
          >
            <div>
              <img
                class="mt-5 sign_logo"
                src="images/png/icons/hrpayhub-logo.svg"
                alt="hrpayhub logo"
              />
            </div>

            <div class="text-center sign_in_input">
              <div style="position: relative;">
                <h3 class="fs-14 font-ubuntu fw-700">Reset Your Password</h3>
                <a
                  href="/sign-in"
                  class="text-decoration-none text-dark"
                  style="position: absolute; left: 0; top: -5px"
                >
                  <img src="images/png/icons/angle-left.svg" alt="" />
                  <span class="fs-14 fw-700">Back</span></a
                >
              </div>
              <p class="fs-12 text-secondary">
                Enter the email address linked to your HRPayHub account. We’ll
                send you a link to reset your password.
              </p>
            </div>

            <form
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <div class="d-flex flex-column gap-4">
                <div class="form-floating sign_in_input">
                  <input
                    type="email"
                    id="email_id"
                    name="email_id"
                    class="form-input"
                    placeholder=""
                  />
                  <label for="email_id"
                    >Email Address &nbsp;<span>*</span></label
                  >
                </div>
              </div>

              <div
                class="d-flex justify-content-start align-items-end w-100 mt-5"
              >
                <div>
                  <button
                    type="button"
                    id="login"
                    class="delon-primary-btn bg-primary-blue border-0 text-white font-avenir-bold fs-14 d-flex align-items-center gap-2"
                    data-bs-toggle="modal"
                    data-bs-target="#successModal"
                  >
                    <span>Send Reset Link</span>
                    <img
                      src="images/png/icons/arrow-right.svg"
                      alt="arrow-right"
                    />
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <script defer src="libs/jquery/jquery-3.7.1.min.js"></script>
    <script is:inline src="libs/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"
    ></script>
    <!-- Select2 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"
    ></script>
  </body>
</html>
