---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HRPayHub :: Subscription Manager">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex gap-5">
          <a
            href="index.html"
            title="Back to Dashboard"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <div class="d-flex align-items-center gap-2">
            <a
              href="index.html"
              class="fs-14 text-decoration-none text-primary-dark">Dashboard</a
            >

            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <span class="fs-16 fw-bold text-primary-blue"
              >Manage Subscription</span
            >
          </div>
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 vstack gap-5 px-5">
          {/* Page Content Box */}
          <div class="p-lg-5">
            <div class="vstack" style="gap: 2.3rem">
              <!-- Nav pills -->
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="pill" href="#home"
                    >Management Subscription</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="pill" href="#menu1"
                    >Billing Section</a
                  >
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane container active" id="home">
                  <div class="vstack" style="gap: 2.3rem">
                    <div
                      class="d-flex align-items-center gap-4 add_employee_width"
                    >
                      <div class="fs-14 fw-600 text-primary-blue">
                        Upgrade/Downgrade Subscription
                      </div>
                      <div class="flex-grow-1">
                        <div class="demarcator_line">&nbsp;</div>
                      </div>
                    </div>

                    <div class="form-floating add_employee_width">
                      <select
                        id="select_recp"
                        name="select_recp"
                        class="form-select_custom fs-14"
                        required
                      >
                        <option
                          value=""
                          selected
                          style="color: rgb(200, 200, 200)">Select</option
                        >
                        <option value="type_1">Package 1</option>
                        <option value="type_2">Package 2</option>
                        <option value="type_3">Package 3</option>
                      </select>
                      <label for="select_recp">Select New Package </label>
                    </div>

                    <div class="form-floating add_employee_width">
                      <input
                        type="text"
                        id="at_due"
                        name="at_due"
                        class="form-input fs-14"
                        placeholder=""
                      />
                      <label for="at_due"> </label>
                    </div>
                  </div>
                </div>
                <div class="tab-pane container fade" id="menu1">...</div>
              </div>
            </div>
          </div>
          {/* Page Content Box */}
        </div>
      </div>
    </section>
  </main>
  <!-- Main content ends here -->
</Layout>
