---
import { Naira } from "../components/Symbols";
import Layout from "../layouts/Layout.astro";
import PayslipGeneratePreview from "../components/payslips/PayslipGeneratePreview";
import BreadCrumbs from "../components/ui/BreadCrumbs";
---

<style>
  .manage_payslip_form_control {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .manage_payslip_form_control {
      width: 300px !important;
    }
  }
</style>

<Layout title="HRPayHub :: Manage Payslips">
  <!-- Main content starts here -->
  <main class="w-full">
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4 w-full">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex flex-md-row flex-column gap-md-5 gap-1 w-full">
          <a
            href="payslip_monthly_nigeria_salaried.html"
            title="Back to Payslip"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <BreadCrumbs
            data={[
              { name: "Dashboard", url: "index.html" },
              { name: "Payslip Nigeria", url: "payslip-management.html" },
              {
                name: "Monthly Payslip - Nigeria (Salaried)",
                url: "payslip_monthly_nigeria_salaried.html",
              },
              { name: "Manage Payslips" },
            ]}
          />
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- Main content section :: Manage Payslip - Show list of employees payslips -->
    <section class="px-4" id="manage_list_of_payslip">
      <div class="screenFrame">
        <div class="d-flex flex-column justify-content-between">
          <div
            class="rounded-4 shadow p-4 d-flex flex-column gap-5 px-md-5 px-3"
            style="flex-basis: auto;"
          >
            {/* Page Title */}
            <div class="vstack gap-3">
              <div class="d-flex gap-3 align-items-center">
                <img
                  src="images/png/icons/colored/receipt-minus-colored.svg"
                  alt="receipt-minus-icon"
                  width="30px"
                  height="30px"
                />
                <span
                  class="text-primary-blue font-ubuntu-bold fs-24 inline-block"
                  >Generate Payslip</span
                >
              </div>
            </div>
            {/* Page Title */}

            {/* Page Content Box */}
            <div class="vstack gap-5">
              <form
                style="max-width: 344px"
                class="vstack gap-4"
                id="generate_payslip_form"
              >
                <div class="form-section position-relative">
                  <label class="fs-14 fw-600">Select Date</label>
                  <input
                    class="form-control delon-input"
                    type="date"
                    placeholder="Default input"
                    aria-label="default input example"
                  />
                </div>
                <div>
                  <button
                    type="submit"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14"
                  >
                    <span>Proceed</span>
                  </button>
                </div>
              </form>

              <div class="d-none" id="payslip_generate_table">
                <div
                  class="d-flex flex-column justify-content-between gap-4 border p-4"
                  style="border-radius: 10px 10px 0px 0px"
                >
                  <div class="font-ubuntu-bold fs-18">Pay Slip</div>
                  <div
                    class="d-flex flex-column flex-xl-row gap-3 lg:gap-0 justify-content-between lg:align-items-center"
                  >
                    <div class="flex-grow-0 flex-shrink">
                      <!-- Search input box -->
                      <div
                        class="d-flex align-items-center px-2 gap-1 overflow-hidden manage_payslip_form_control"
                        style="background: rgb(250, 250, 250); border: 1px solid #D1D5DB; height: 41px; border-radius: 10px;"
                      >
                        <button class="border-0 bg-transparent py-2">
                          <img
                            src="images/png/icons/search-normal.svg"
                            alt="Search icon"
                            style="margin-top: -3px"
                          />
                        </button>
                        <input
                          type="text"
                          class="flex-fill flex-shrink py-2 bg-transparent border-0 fs-14 rounded-0 no_focus"
                          placeholder="Search..."
                        />
                      </div>
                      <!-- Search input box -->
                    </div>
                    <div
                      class="d-flex flex-shrink flex-grow-0 flex-column flex-md-row gap-3 lg:align-items-center"
                    >
                      <div
                        role="button"
                        class="d-flex align-items-center ps-3 gap-2 manage_payslip_form_control"
                        style="background: rgb(250, 250, 250); border: 1px solid #D1D5DB; height: 41px; border-radius: 10px;"
                      >
                        <img
                          src="images/png/icons/calendar.svg"
                          alt="calendar_icon"
                        />
                        <div>August 2025</div>
                      </div>
                      <div class="d-flex gap-3 align-items-center">
                        <button
                          class="d-flex align-items-center gap-2 border-0 bg-transparent"
                        >
                          <img
                            src="images/png/icons/filter.svg"
                            alt="filter icon"
                          />
                          <span class="fs-14 fw-600" style="color: #202020"
                            >Filter</span
                          >
                        </button>
                        <button
                          class="d-flex align-items-center gap-2 border-0 bg-transparent"
                        >
                          <img
                            src="images/png/icons/sort-descending.svg"
                            alt="filter icon"
                          />
                          <span class="fs-14 fw-600" style="color: #202020"
                            >Filter</span
                          >
                        </button>
                      </div>
                      <div class="dropdown">
                        <button
                          class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 dropdown-toggle dropdown-no-arrow d-flex align-items-center gap-2"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          data-bs-offset="-45,10"
                        >
                          <img
                            src="images/png/icons/download-cloud-02.svg"
                            alt="download_icon"
                          />
                          <span>Actions</span>
                          <img
                            src="images/png/icons/arrow-down.svg"
                            alt="arrow-down"
                          />
                        </button>
                        <div
                          class="dropdown-menu p-0 border-0"
                          style="width: auto"
                        >
                          <ul
                            class="list-group border-0 fw-600 fs-14 text-nowrap"
                          >
                            <li class="list-group-item">
                              <div
                                role="button"
                                class="d-flex align-items-center gap-2"
                              >
                                <img
                                  src="images/png/icons/printer.svg"
                                  alt="printer"
                                />
                                <span>Print Payslip</span>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div
                                role="button"
                                class="d-flex align-items-center gap-2"
                              >
                                <img
                                  src="images/png/icons/hard-drive-download.svg"
                                  alt="hard-drive-download"
                                />
                                <span>Download Payslip</span>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div
                                role="button"
                                class="d-flex align-items-center gap-2"
                              >
                                <img
                                  src="images/png/icons/at-sign.svg"
                                  alt="at-sign"
                                />
                                <span>Email Payslip</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Table section -->
                <div class="table-responsive w-full" style="max-width: 100%">
                  <table
                    class="table table-bordered table-hover payslip_table"
                    style="table-layout: auto; width: 100%"
                  >
                    <!-- Table Header -->
                    <thead class="bg-primary-blue text-white fs-14 fw-700">
                      <th
                        class="bg-primary-blue text-white text-center text-nowrap"
                        style="min-width: 60px"
                      >
                        <input
                          type="checkbox"
                          class="input_control"
                          id="mainInputCheckbox"
                        />
                      </th>
                      <th
                        class="bg-primary-blue text-white text-center text-nowrap"
                        style="min-width: 60px">S/N</th
                      >
                      <th
                        class="bg-primary-blue text-white text-nowrap"
                        style="min-width: 130px">Employee ID</th
                      >
                      <th
                        class="bg-primary-blue text-white text-nowrap"
                        style="min-width: 200px">Employee Name</th
                      >
                      <th
                        class="bg-primary-blue text-white text-nowrap text-center"
                        style="min-width: 200px">Monthly Fixed Salary</th
                      >
                      <th
                        class="bg-primary-blue text-white text-nowrap text-center"
                        style="min-width: 200px">Total Deductions</th
                      >
                      <th
                        class="bg-primary-blue text-white text-nowrap text-center"
                        style="min-width: 200px">Net Pay</th
                      >
                      <th
                        class="bg-primary-blue text-white text-center text-nowrap"
                        style="width: 50px">Action</th
                      >
                    </thead>
                    <!-- Table Header -->
                    <tbody class="font-avenir">
                      {
                        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].map((ele, idx) => (
                          <tr>
                            <td
                              valign="middle"
                              class="text-black text-center px-12px fs-14"
                            >
                              <input type="checkbox" class="input_control" />
                            </td>
                            <td
                              valign="middle"
                              class="text-black text-center px-12px fs-14"
                            >
                              {idx + 1}
                            </td>
                            <td
                              valign="middle"
                              class="text-black px-12px fs-14"
                            >
                              N12343534
                            </td>
                            <td
                              valign="middle"
                              class="text-black px-12px fs-14"
                            >
                              Joseph Olawale
                            </td>
                            <td
                              valign="middle"
                              class="text-black px-12px fs-14 text-center"
                            >
                              <Naira />
                              480,500
                            </td>
                            <td
                              valign="middle"
                              class="text-black px-12px fs-14 text-center"
                            >
                              <Naira />
                              23,000
                            </td>
                            <td
                              valign="middle"
                              class="text-black px-12px fs-14 text-center"
                            >
                              <Naira />
                              457,000
                            </td>
                            <td
                              valign="middle"
                              class="text-black px-12px fs-14 d-flex justify-content-center"
                              style="min-width: 190px; height: 100% !important"
                            >
                              <button
                                class="bg-primary-blue rounded-3 px-3 text-white border-0 text-nowrap viewPayslpBtn d-flex gap-2 align-items-center justify-content-center"
                                style="height: 28px"
                              >
                                <span>View Payslip</span>
                                <img
                                  src="images/png/icons/document-text.svg"
                                  alt="document_file_icon"
                                  class="flex-shrink-0"
                                />
                              </button>
                            </td>
                          </tr>
                        ))
                      }
                    </tbody>
                  </table>
                </div>
                <!-- Table section -->
              </div>
            </div>
            {/* Page Content Box */}
          </div>
        </div>
      </div>
    </section>

    <PayslipGeneratePreview />
    <!-- Main content section :: Manage Payslip - Show list of employees payslips -->
  </main>
  <!-- Main content ends here -->

  <script is:inline type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      document
        .getElementById("generate_payslip_form")
        ?.addEventListener("submit", (e) => {
          e.preventDefault();

          $("#payslip_generate_table").addClass("d-none");
          const submitBtn = e.target.querySelector("button");

          submitBtn.innerHTML = `
                        <span>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </span>
                    `;
          submitBtn.disabled = true;

          setTimeout(() => {
            submitBtn.innerHTML = `
                            <span>Generate</span>
                        `;
            submitBtn.disabled = false;
            $("#payslip_generate_table").removeClass("d-none");
          }, 2000);
        });

      document
        .getElementById("generate_view_payslip_form")
        .addEventListener("submit", (e) => {
          e.preventDefault();

          $("#payslip_generate_table").addClass("d-none");
          const submitBtn = e.target.querySelector("button");

          submitBtn.innerHTML = `
                        <span>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </span>
                    `;
          submitBtn.disabled = true;

          setTimeout(() => {
            submitBtn.innerHTML = `
                            <span>Generate</span>
                        `;
            submitBtn.disabled = false;
            const toastLive = document.getElementById("payslipGenerateToast");
            const toast = new bootstrap.Toast(toastLive);
            toast.show();
          }, 2000);
        });

      $(".viewPayslpBtn").click((evt) => {
        $("#view_employee_payslip").removeClass("d-none");
        $("#manage_list_of_payslip").addClass("d-none");
      });

      $("#back_to_list_of_payslips").click((evt) => {
        $("#view_employee_payslip").addClass("d-none");
        $("#manage_list_of_payslip").removeClass("d-none");
      });

      $("#mainInputCheckbox").change((evt) => {
        const allInputChecks = $(".input_control");
        const selectionState = $(evt.target).prop("checked");

        allInputChecks.each((_, ele) => {
          $(ele).prop("checked", selectionState);
        });
      });
    });
  </script>
</Layout>
