---
import BreadCrumbs from "../components/ui/BreadCrumbs";
import Layout from "../layouts/Layout.astro";
---

<Layout title="HRPayHub :: Hourly Payslip - Nigeria (Salaried)">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex flex-md-row flex-column gap-md-5 gap-1 w-full">
          <a
            href="payslip.html"
            title="Back to Payslip"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <BreadCrumbs
            data={[
              { name: "Dashboard", url: "index.html" },
              { name: "Payslip Nigeria", url: "payslip.html" },
              { name: "Hourly Payslip - Nigeria (Salaried)" },
            ]}
          />
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 vstack gap-5 px-5">
          {/* Page Title */}
          <div class="vstack gap-2">
            <div class="d-flex gap-3 align-items-center">
              <img
                src="images/png/icons/colored/receipt-minus-colored.svg"
                alt="receipt-minus-icon"
                width="30px"
                height="30px"
              />
              <span
                class="text-primary-blue font-ubuntu-bold fs-24 inline-block"
                >Hourly Payslip – Nigeria (Salaried)</span
              >
            </div>
            <div class="fw-bold">
              View and manage payslip for Nigeria salaried employees.
            </div>
          </div>
          {/* Page Title */}

          {/* Page Content Box */}
          <div
            class="row align-items-stretch justify-content-between payslip-grid-gap"
          >
            {
              [
                {
                  title: "Create Payslip (Individual)",
                  desc: "Generate payslip for one employee.",
                  url: "create_payslip_hourly.html",
                },
                {
                  title: "Create Payslips (Bulk Upload)",
                  desc: "Upload data to generate multiple payslips.",
                  url: "payslip_create_bulk_upload.html",
                },
                {
                  title: "Manage Payslips",
                  desc: "View, edit, download existing payslips.",
                  url: "manage_payslip.html",
                },
                {
                  title: "Payslip Activity Log",
                  desc: "Track actions taken on payslips.",
                  url: "payslip_activity_log.html",
                },
              ].map((ele) => (
                <a
                  class="col-4 px-2 text-decoration-none"
                  style="width: 370px; min-height: 141px; color: #202020 !important"
                  role="button"
                  title={ele.title}
                  href={ele.url}
                >
                  <div
                    class="shadow p-3 px-3 rounded-3 d-flex flex-column align-items-center justify-content-start gap-2 text-center"
                    style="height: 100%"
                  >
                    <div class="vstack gap-2 d-flex flex-column align-items-center">
                      <img
                        src="images/png/icons/colored/receipt-minus-colored.svg"
                        alt="receipt-minus-icon"
                        width="40px"
                        height="40px"
                      />
                      <div class="fw-bold fs-18 font-ubuntu-bold text-primary-blue">
                        {ele.title}
                      </div>
                    </div>

                    <div
                      class="fw-600 fs-16"
                      style="width: 100%; margin: 0 auto; height: 100%"
                    >
                      {ele.desc}
                    </div>
                  </div>
                </a>
              ))
            }
          </div>
          {/* Page Content Box */}
        </div>
      </div>
    </section>
  </main>
  <!-- Main content ends here -->
</Layout>
