---
// components/ui/ModalAddNew.astro
const {
  modalId = "myReview",
  title = "Annual Review",
  inputPlace = "Work Location",
} = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal modal-lg fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">
      <!-- Modal Header -->
      <div class="modal-header border-0 d-flex justify-content-between">
        <h4 class="modal-title fs-22 fw-700" id="modalTitle">{title}</h4>

        <img
          role="button"
          data-bs-dismiss="modal"
          src="images/png/icons/close-circle-1.svg"
          alt="close"
        />
      </div>

      <!-- Modal body -->

      <div class="modal-body d-flex flex-column gap-4 py-5 border-0">
        <div
          class="d-flex justify-content-between gap-3 rounded-3 p-3"
          style="background-color: #F4FAFF;"
        >
          <!---- Search  -->
          <div>
            <div class="fw-600 fs-14">Sarah Johnson</div>
            <div class="d-flex gap-1 mt-2">
              <div class="fs-14">
                <span>Department:</span>
                <span
                  class="fw-600 border-2 ms-2 p-2"
                  style="background-color: #F4FAFF">Engineering</span
                >
              </div>
              <div class="fs-14">
                <span>Year:</span>
                <span
                  class="fw-600 border-2 ms-1 p-2"
                  style="background-color: #F4FAFF">2026</span
                >
              </div>
              <div class="fs-14 px-2 mx-2 border-2 border-start">
                <span>Manager:</span>
                <span
                  class="fw-600 border-2 ms-1 p-2"
                  style="background-color: #F4FAFF">Joy Awodele</span
                >
              </div>
              <div class="fs-14 px-2 mx-2 border-2 border-start">
                <span>KPI Assigned:</span>
                <span
                  class="fw-600 border-2 ms-1 p-2"
                  style="background-color: #F4FAFF">4</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex gap-5">
          <div class="d-flex flex-column gap-3 py-4 px-4 border rounded-5 w-50">
            <div class="fs-14">KPI Summary Score</div>
            <div class="d-flex gap-3 align-items-center">
              <h1 class="fs-16 fw-700">70%</h1>
            </div>
          </div>
          <div class="d-flex flex-column gap-3 py-4 px-4 border rounded-5 w-50">
            <div class="fs-14">Manager’s Rating</div>
            <div class="d-flex gap-3 align-items-center">
              {
                inputPlace === "Exceed Expections" ? (
                  <h1 class="fs-16 fw-700 d-flex gap-1 align-items-center">
                    <span class="me-1">4/5</span>
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-golden.svg" alt="" />

                    <img src="images/png/icons/star-not.svg" alt="" />
                  </h1>
                ) : inputPlace === "Meets Expectation" ? (
                  <h1 class="fs-16 fw-700 d-flex gap-1 align-items-center">
                    <span class="me-1">3/5</span>
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                  </h1>
                ) : inputPlace === "Needs Improvement" ? (
                  <h1 class="fs-16 fw-700 d-flex gap-1 align-items-center">
                    <span class="me-1">2/5</span>
                    <img src="images/png/icons/star-golden.svg" alt="" />
                    <img src="images/png/icons/star-golden.svg" alt="" />

                    <img src="images/png/icons/star-not.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                  </h1>
                ) : inputPlace === "Unsatisfactory" ? (
                  <h1 class="fs-16 fw-700 d-flex gap-1 align-items-center">
                    <span class="me-1">1/5</span>
                    <img src="images/png/icons/star-golden.svg" alt="" />

                    <img src="images/png/icons/star-not.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                    <img src="images/png/icons/star-not.svg" alt="" />
                  </h1>
                ) : (
                  ""
                )
              }
            </div>
          </div>
          <div class="d-flex flex-column gap-3 py-4 px-4 border rounded-5 w-50">
            <div class="fs-14">Final Outcome</div>
            <div class="d-flex gap-3 align-items-center">
              {
                inputPlace === "Exceed Expections" ? (
                  <span
                    class="fw-700 border border-1 rounded-3 p-2 fs-12"
                    style="background-color: #E9FFE2; color: #186D00; height: fit-content"
                    role="button"
                  >
                    Exceed Expectation
                  </span>
                ) : inputPlace === "Meets Expectation" ? (
                  <span
                    class="fw-700 border border-1 rounded-3 p-2 fs-12"
                    style="background-color: #E9FFE2; color: #186D00; height: fit-content"
                    role="button"
                  >
                    Meets Expectation
                  </span>
                ) : inputPlace === "Needs Improvement" ? (
                  <span
                    class="fw-700 border border-1 rounded-3 p-2 fs-12"
                    style="background-color: #FFFFF2; color: #969103; height: fit-content"
                    role="button"
                  >
                    Needs Improvement
                  </span>
                ) : inputPlace === "Unsatisfactory" ? (
                  <span
                    class="fw-700 border border-1 rounded-3 p-2 fs-12"
                    style="background-color: #FFF4F4; color: #FD0000; height: fit-content"
                    role="button"
                  >
                    Unsatisfactory
                  </span>
                ) : (
                  ""
                )
              }
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-4 py-4 px-4 border rounded-5">
          <div class="d-flex gap-3">
            <div>
              <div class="d-flex gap-3 align-items-center">
                <h1 class="fs-16 fw-700">Manager’s Comment</h1>
              </div>
              <div class="fs-14">
                Sarah has been a consistently strong performer. She delivered
                critical projects on time and mentored junior team members
                effectively.
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-4 py-4 px-4 border rounded-5">
          <div class="d-flex gap-3">
            <div>
              <div class="d-flex gap-3 align-items-center">
                <h1 class="fs-16 fw-700">Strengths</h1>
              </div>
              <div class="fs-14">
                Technical expertise, leadership, reliability, strong
                communication with stakeholders.
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-4 py-4 px-4 border rounded-5">
          <div class="d-flex gap-3">
            <div>
              <div class="d-flex gap-3 align-items-center">
                <h1 class="fs-16 fw-700">Areas for Improvement</h1>
              </div>
              <div class="fs-14">
                Could take on more cross-functional initiatives and improve
                documentation practices.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
