---
// components/ui/ModalAddNew.astro
const { modalId = "approveModal", title = "Request" } = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">
      <!-- Modal Header -->
      <div class="modal-header border-0 d-flex justify-content-end">
        <img
          role="button"
          data-bs-dismiss="modal"
          src="images/png/icons/close-circle-1.svg"
          alt="close"
        />
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center py-2 border-0">
        <img src="images/png/icons/approve.svg" alt="approval" />
        <p class="fs-22 fw-bold mt-3">Approve {title}</p>
        <p>Are you sure you want to approve this {title}?</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center border-0">
        <button
          type="button"
          class="btn text-white bg-primary-blue"
          data-bs-dismiss="modal"
        >
          Yes, approve <span class="text-lowercase">{title}</span>
        </button>
      </div>
    </div>
  </div>
</div>
