---
// components/ui/ModalAddNew.astro
const { modalId = "approveModal", title = "Approve Task" } = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">
      <!-- Modal Header -->
      <div class="modal-header border-0 d-flex justify-content-end">
        <img
          role="button"
          data-bs-dismiss="modal"
          src="images/png/icons/close-circle-1.svg"
          alt="close"
        />
      </div>

      <!-- Modal body -->
      {
        title === "Approve Task" ? (
          <div class="modal-body text-center py-2 border-0">
            <img src="images/png/icons/approve-green.svg" alt="approval" />
            <p class="fs-22 fw-bold my-3">{title}</p>
            <p>Are you sure you want to approve this task completion?</p>
          </div>
        ) : (
          <div class="modal-body text-center py-2 border-0">
            <img src="images/png/icons/approve-green.svg" alt="approval" />
            <p class="fs-22 fw-bold my-3">{title}</p>
            <p>Are you sure you want to mark task complete?</p>

            <div class="form-floating">
              <textarea class="form-input" rows="2" id="comment" />
              <label for="comment">Add a Comment</label>
            </div>
          </div>
        )
      }

      <!-- Modal footer -->
      {
        title === "Approve Task" ? (
          <div class="modal-footer d-flex justify-content-center border-0">
            <button
              type="button"
              class="btn text-white"
              style="background-color: #2BC700;"
              data-bs-dismiss="modal"
            >
              Yes, approve
            </button>
          </div>
        ) : (
          <div class="modal-footer d-flex justify-content-center border-0">
            <button
              type="button"
              class="btn text-white"
              style="background-color: #2BC700;"
              data-bs-dismiss="modal"
            >
              Yes, Complete
            </button>
          </div>
        )
      }
    </div>
  </div>
</div>
