---
// components/ui/ModalAddNew.astro
const { modalId = "deleteModal" } = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">
      <!-- Modal Header -->
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center py-2 border-0">
        <img src="images/png/icons/warning.svg" alt="warning" />
        <p class="fs-22 fw-bold mt-3">Delete Department</p>
        <p>Are you sure you want to delete this department?</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center border-0">
        <button
          type="button"
          class="btn text-white"
          style="background-color: red;"
          data-bs-dismiss="modal"
        >
          Yes, delete department
        </button>
      </div>
    </div>
  </div>
</div>
