<!-- Work History Panel  -->
<div
  class="tab-pane fade"
  id="work_history_panel"
  role="tabpanel"
  aria-labelledby="work_history_panel"
  tabindex="0"
>
  <div class="vstack" style="gap: 2.3rem">
    <!------ pre employer 1 line --->
    <div class="d-flex align-items-center gap-4 add_employee_width">
      <div class="fs-14 fw-600 text-primary-blue">Previous Employer 1</div>
      <div class="flex-grow-1">
        <div class="demarcator_line">&nbsp;</div>
      </div>
    </div>

    <!------- body ------->

    <div class="form-floating add_employee_width">
      <input
        type="text"
        id="pre_employer"
        name="pre_employer"
        class="form-input"
        placeholder=""
      />
      <label for="pre_employer"> Employer </label>
    </div>
    <div class="form-floating add_employee_width">
      <input
        type="text"
        id="job_title"
        name="job_title"
        class="form-input"
        placeholder=""
      />
      <label for="job_title"> Job Title </label>
    </div>

    <div class="form-floating add_employee_width">
      <input
        type="date"
        id="year_of_grad"
        name="year_of_grad"
        class="form-input"
        placeholder=""
      />
      <label for="year_of_grad"> Year of Graduation </label>
    </div>

    <div>
      <p>Duration of Employment</p>

      <div class="d-flex justify-content-between gap-3 add_employee_width">
        <div class="form-floating add_employee_width">
          <input
            type="text"
            id="start_time"
            name="start_time"
            class="form-input"
            placeholder=""
          />
          <label for="start_time">Start Date</label>
        </div>
        <div class="form-floating add_employee_width">
          <input
            type="text"
            id="end_time"
            name="end_time"
            class="form-input"
            placeholder=""
          />
          <label for="end_time">End Date</label>
        </div>
      </div>
    </div>
    <!------ prev employer 2 line --->
    <div class="d-flex align-items-center gap-4 add_employee_width">
      <div class="fs-14 fw-600 text-primary-blue">Previous Employer 2</div>
      <div class="flex-grow-1">
        <div class="demarcator_line">&nbsp;</div>
      </div>
    </div>

    <!------- body ------->

    <div class="form-floating add_employee_width">
      <input
        type="text"
        id="pre_employer"
        name="pre_employer"
        class="form-input"
        placeholder=""
      />
      <label for="pre_employer"> Employer </label>
    </div>
    <div class="form-floating add_employee_width">
      <input
        type="text"
        id="job_title"
        name="job_title"
        class="form-input"
        placeholder=""
      />
      <label for="job_title"> Job Title </label>
    </div>

    <div class="form-floating add_employee_width">
      <input
        type="date"
        id="year_of_grad"
        name="year_of_grad"
        class="form-input"
        placeholder=""
      />
      <label for="year_of_grad"> Year of Graduation </label>
    </div>

    <div>
      <p>Duration of Employment</p>

      <div class="d-flex justify-content-between gap-3 add_employee_width">
        <div class="form-floating add_employee_width">
          <input
            type="text"
            id="start_time"
            name="start_time"
            class="form-input"
            placeholder=""
          />
          <label for="start_time">Start Date</label>
        </div>
        <div class="form-floating add_employee_width">
          <input
            type="text"
            id="end_time"
            name="end_time"
            class="form-input"
            placeholder=""
          />
          <label for="end_time">End Date</label>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between gap-4 mt-5 add_employee_width">
      <button
        type="button"
        id="qualifications_back"
        data-tab-target="#qualifications"
        role="tab"
        aria-controls="qualifications_panel"
        aria-selected="false"
        class="white_button next_tab_btn"
      >
        <span>Back</span>
      </button>

      <button
        type="button"
        id="save"
        class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
      >
        <span>Save</span>
      </button>
    </div>
  </div>
</div>
