---
// components/ui/ModalAddNew.astro
const {
  modalId = "myModal",
  title = "Assign Asset",
  inputPlace = "Assign Asset",
} = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">
      <!-- Modal Header -->
      <div class="modal-header border-0 d-flex justify-content-between">
        <h4 class="modal-title fs-22 fw-700" id="modalTitle">{title}</h4>

        <img
          type="button"
          data-bs-dismiss="modal"
          src="images/png/icons/close-circle-1.svg"
          alt="close"
        />
      </div>

      <!-- Modal body -->

      <div class="modal-body d-flex flex-column gap-4 py-5 border-0">
        <div class="form-floating">
          <select
            id="emp_id_name"
            name="emp_id_name"
            class="form-select_custom fs-14"
            required
            disabled
          >
            <option value=""> Select </option>
            <option value="1" selected>Robert Fox - N12343534</option>
            <option value="2">Robert Fox - N12343534</option>
            <option value="3">Robert Fox - N12343534</option>
          </select>
          <label for="emp_id_name">
            Employee ID/Name &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            id="asset_name"
            name="asset_name"
            class="form-input"
            placeholder=""
            value="Lorem Ipsum"
            disabled
          />
          <label for="asset_name">
            Asset Name &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            id="serial_No"
            name="serial_No"
            class="form-input"
            placeholder=""
            value="N129DR"
            disabled
          />
          <label for="serial_No">
            Serial Number &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            id="model"
            name="model"
            class="form-input"
            placeholder=""
            value="N129DR"
            disabled
          />
          <label for="model">
            Model &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            id="quantity"
            name="quantity"
            class="form-input"
            placeholder=""
            value="3992"
            disabled
          />
          <label for="quantity">
            Quantity &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <select
            id="condition"
            name="condition"
            class="form-select_custom fs-14"
            required
            disabled
          >
            <option value=""> Select </option>
            <option value="1" selected>New</option>
            <option value="2">Used</option>
            <option value="3">Refurbished</option>
          </select>
          <label for="condition">
            Condition &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="date"
            id="assign_date"
            name="assign_date"
            class="form-input"
            placeholder=""
            value="2025-06-01"
            disabled
          />
          <label for="assign_date">
            Assignment Date &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="date"
            id="return_date"
            name="return_date"
            class="form-input"
            placeholder=""
            value="2025-06-01"
            disabled
          />
          <label for="return_date">
            Return Date &nbsp;<span>*</span>
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="agreement"
            name="agreement"
            value="agreement"
          />
          <label class="form-check-label fs-14 font-avenir fw-600"
            >I agree to the acceptance of the asset</label
          >
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex fs-14 justify-content-start border-0">
        <button
          type="button"
          class="btn bg-primary-blue text-white"
          data-bs-dismiss="modal"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
