---
// components/ui/ModalAddNew.astro
const { modalId = "comment", title = "Employee's Comment" } = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-2">
      <!-- Modal Header -->

      <div class="modal-header border-0 d-flex justify-content-between">
        <h4 class="modal-title fs-22 fw-700" id="modalTitle">
          {title}
        </h4>

        <img
          role="button"
          data-bs-dismiss="modal"
          src="images/png/icons/close-circle-1.svg"
          alt="close"
        />
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left py-2 border-0">
        <div class="form-floating">
          <textarea class="form-input" rows="5" id="address"></textarea>
          <label for="ex_title">Add a comment (optional)</label>
        </div>
      </div>

      <!-- Modal footer -->
    </div>
  </div>
</div>
