---
// components/ui/ModalAddNew.astro
const {
  modalId = "myCreateOpenShiftModal",
  title = "Create Open Shift",
  inputPlace = "Work Location",
} = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">
      <!-- Modal Header -->
      <div class="modal-header border-0 d-flex justify-content-between">
        <h4 class="modal-title fs-22 fw-700" id="modalTitle">{title}</h4>

        <img
          role="button"
          data-bs-dismiss="modal"
          src="images/png/icons/close-circle-1.svg"
          alt="close"
        />
      </div>

      <!-- Modal body -->

      <div class="modal-body d-flex flex-column gap-4 py-5 border-0">
        <div class="form-floating">
          <select
            id="designation"
            name="designation"
            class="form-select_custom fs-14"
            required
          >
            <option value="" selected> Select </option>
            <option value="1">Pharmacist</option>
            <option value="2">Senior Pharmacist</option>
            <option value="3">Intern Pharmacist</option>
            <option value="4">Software Engineer</option>
            <option value="5">HR & Admin Manager</option>
            <option value="6">Pharmacy Technician</option>
            <option value="7">Call Center Agent</option>
          </select>
          <label for="designation">
            Shift Designation &nbsp;<span>*</span>
          </label>
        </div>
        <div class="form-floating">
          <input
            type="date"
            id="assign_date"
            name="assign_date"
            class="form-input"
            placeholder=""
          />
          <label for="assign_date">
            Date &nbsp;<span>*</span>
          </label>
        </div>

        <div class="d-flex justify-content-between gap-3">
          <div class="form-floating w-full">
            <input
              type="time"
              id="start_time"
              name="start_time"
              class="form-input"
              placeholder=""
            />
            <label for="start_time">Start Time </label>
          </div>
          <div class="form-floating">
            <input
              type="time"
              id="end_time"
              name="end_time"
              class="form-input"
              placeholder=""
            />
            <label for="end_time">End Time </label>
          </div>
        </div>
        <div>Eligible Designation</div>
        <div class="border rounded-4 p-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkDefault"
              checked
            />
            <label class="form-check-label" for="checkDefault">
              Pharmacist
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkChecked"
              checked
            />
            <label class="form-check-label" for="checkChecked">
              Pharmacy Tech
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="dispenser"
            />
            <label class="form-check-label" for="dispenser">
              Dispenser/Counter
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="delivery"
            />
            <label class="form-check-label" for="delivery"> Delivery </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="admin"
            />
            <label class="form-check-label" for="admin"> Admin </label>
          </div>
        </div>
        <div>Eligible Employment Type</div>
        <div class="border rounded-4 p-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="fullTime"
              checked
            />
            <label class="form-check-label" for="fullTime"> Full Time </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="contractor"
            />
            <label class="form-check-label" for="contractor">
              Contractor
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="intern"
              checked
            />
            <label class="form-check-label" for="intern"> Intern </label>
          </div>
        </div>

        <div class="form-floating">
          <textarea class="form-input" rows="2" id="comment"></textarea>
          <label for="comment">Notes </label>
        </div>

        <div class="d-flex gap-4 justify-content-between align-items-center">
          <span class="fs-12"
            >Mark as “Open” and “Visible to eligible employees</span
          >
          <div
            role="button"
            class="form-check form-switch switchForDeductionsFields"
            style="margin-top: 5px; cursor: pointer"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="toggleSwitch"
            />
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer border-0">
        <button
          type="button"
          class="btn bg-primary-blue text-white"
          data-bs-dismiss="modal"
        >
          Create Open Shift
        </button>
      </div>
    </div>
  </div>
</div>
