---
// components/ui/ModalAddNew.astro
const { modalId = "successModal", title = "Silver" } = Astro.props;
import { CloseCircleIcon } from "../Icons";
---

<div class="modal fade" id={modalId} tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-5">

      {
        title==="Forgot" ? (<!-- Modal Header -->
      <div
        class="modal-header fs-24 fw-700 border-0 d-flex justify-content-center"
      >
        Successful
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center py-2 border-0">
        <img src="images/png/icons/success-check.svg" alt="success check" />

        <p class="fs-16">
         A password reset link has been sent to your email. 
        </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center border-0">
        <button
          type="button"
          class="btn text-white bg-primary-blue fs-14 px-4"
          data-bs-dismiss="modal"
        >
          Done
        </button>
      </div>) : title === "New Password" ? (<!-- Modal Header -->
      <div
        class="modal-header fs-24 fw-700 border-0 d-flex justify-content-center"
      >
        Successful
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center py-2 border-0">
        <img src="images/png/icons/success-check.svg" alt="success check" />

        <p class="fs-16">
          Your password has been reset successfully. You can now log in with your new password.
        </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center border-0">
        <a
          href="/sign-in"
          class="btn text-white bg-primary-blue fs-14 px-4"
          
        >
          Login
        </a>
      </div>) : title === "Remit Payment" ? (<!-- Modal Header -->
      <div
        class="modal-header fs-24 fw-700 border-0 d-flex justify-content-center"
      >
       Notice
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center py-2 border-0">
        <img src="images/png/icons/success-check.svg" alt="success check" />

        <p class="fs-16">
          By clicking on next, you’ll be charged N50 per staff payment/transaction
        </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center border-0">
        <a
          href="/sign-in"
          class="btn text-white bg-primary-blue fs-14 px-4"
          
        >
          Next
        </a>
      </div>):(<!-- Modal Header -->
      <div
        class="modal-header fs-24 fw-700 border-0 d-flex justify-content-center"
      >
        Successful Activation
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center py-2 border-0">
        <img src="images/png/icons/success-check.svg" alt="success check" />

        <p class="fs-16">
          You now have access to the ‘{title}’ subscription <br /> for the next 30
          days
        </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center border-0">
        <button
          type="button"
          class="btn text-white bg-primary-blue fs-14 px-4"
          data-bs-dismiss="modal"
        >
          Get Started
        </button>
      </div>)
      }
      
    </div>
  </div>
</div>
